@use '@jwp/ott-ui-react/src/styles/theme';
@use '@jwp/ott-ui-react/src/styles/variables';
@use '@jwp/ott-ui-react/src/styles/accessibility';
@use '@jwp/ott-ui-react/src/styles/mixins/responsive';

:root {
  --primary-color: #{theme.$primary-color};

  --body-background-color: #{theme.$body-bg-color};
  --body-font-family: #{theme.$body-font-family};
  --body-alt-font-family: #{theme.$body-alt-font-family};
  --body-font-weight-regular: #{theme.$body-font-weight-regular};
  --body-font-weight-bold: #{theme.$body-font-weight-bold};
  --body-color: #{theme.$body-color};
  --body-text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);

  --card-color: #{theme.$card-color};
  --card-border-hover-color: #{theme.$card-border-hover-color};
  --card-tag-bg: #{theme.$card-tag-bg};

  --cookie-banner-color: #{theme.$cookie-banner-color};
  --cookie-banner-background-color: #{theme.$cookie-banner-bg};

  // Safe area insets, can be overridden for specific platforms
  /* stylelint-disable length-zero-no-unit */
  --safe-area-top: 0px;
  --safe-area-right: 0px;
  --safe-area-bottom: 0px;
  --safe-area-left: 0px;
  /* stylelint-enable length-zero-no-unit */
}

@include accessibility.globalClassNames;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll; // this prevents layout jumps when navigating between screens
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-size: variables.$body-font-size;
  background-color: var(--body-background-color);
  -webkit-font-smoothing: antialiased;

  #root {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

button {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: inherit;
  font: inherit;
  line-height: normal;
  background: transparent;
  border: none;
  border: 0;
  outline: none;
  appearance: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

@include responsive.mobile-and-tablet() {
  body {
    font-size: 18px;
  }
}

input {
  font-family: var(--body-font-family);
}
