name: Web - Build and Commit

on:
  workflow_dispatch:

defaults:
  run:
    working-directory: ./platforms/web

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Install dependencies
        run: yarn install

      - name: Run build command
        run: yarn run start:test

      - name: Commit and push build output
        run: |
          git add .
          git commit -m "chore: update build output [skip ci]" || echo "No changes to commit"
          git push
